<div class="user-details">
  <h1> Arsenal: </h1>
</div>

  <div class="user">
    <div class="tech">
      <h2>DevOps</h2>
      <i class="devicon-amazonwebservices-original colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i><img width="70px" src="/assets/img/jenkins.png"></i>
    </div>
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i> 
        <i class="devicon-typescript-plain colored"></i>
    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-nodejs-plain-wordmark colored"></i>     
      <i class="devicon-express-original colored"></i>   
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>  
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>  
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-debian-plain colored"></i>
      <i><img width="70px" src="/assets/img/burp.png"></i>
    </div>
</div>
