<!-- <div class="user-details">
  <h1> Some of my projects: </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <br><br><br><img alt="chess" src="{{ "/assets/img/chess.jpg"" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GNE <br><span style="font-size: 18px;"> Chess Engine</span><br><span style="font-size: 14px;">December 2019 - Ongoing</span> </h3>
    <ul>
      <li>C++, UCI, Neural Networks, Search Algorithms</li>
    </ul>
    <p> GNE is my third project in the field of machine learning and is by far my favorite project. As it is still ongoing, here is what I've done until now:
      <ol>
        <li>Conception of the bitboard using various data structures to test the most efficient ones.</li>
        <li>Full implementation of the rules of chess within the machine</li>
        <li>Implementation of Alpha-beta search within the pieces to find the most significant move</li>
        <li>Much more to come...</li>
      </ol>
    
      Currently, I am also trying to reproduce the engine in TypeScript in order to be able to have it on my website for demo purposes.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="paint" src="{{ "/assets/img/paint.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Vector Illustrator Web Application <br><span style="font-size: 14px;">January 2020 - April 2020</span></h3>
    <ul>
      <li>TypeScript, Angular, NodeJS, Express, MongoDB, SVG</li>
      <li>Git, Agile, Scrum, Quality Assurance & Test driven developement</li>
    </ul>
    <p>This project is one of my school's integration projects. Since this is ongoing, here are some of the features that it will have:
      <ol>
        <li>Responsive UI with Angular</li>
        <li>Implementation of functionalities such as drawing using pens, pencils, sprays, drawing shapes and more.</li>
        <li>Using SVG for vectorial illustrations</li>
        <li>Development using Agile and Scrum procedures over the course of three sprints</li>
        <li>Using NodeJs with MongoDB to keep save drawings made on the application</li>
      </ol>
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="paint" src="{{ "/assets/img/roverrobot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="margin-right: 30px;">
    <h3> Line tracking rover robot <br><span style="font-size: 14px;">September 2019 - December 2019</span></h3>
    <ul>
      <li>C++, Make, GCC/AVR-GCC, GDB, Git, Linux, Electronics & Embedded Systems</li>
    </ul>
    <p>
      Conception of a Two-wheeled line-tracking rover robot using ATMEL's ATMEGA324p Microcontroller
      
      Some of my jobs:  
        <ol>
          <li>Writing and implementing the library containing the code base for the different components we had to use with our robot, including UV sensors, Digital Interfaces, line-trackers and more</li>
          <li>Writing various Makefile scripts allowing the code to compile using AVR-GCC</li>
        </ol>
    </p>
    <a class="project-link" href="https://github.com/StrixSC/Rover-robot">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div style="font-size: 20px; text-align: center;">
    <p>Some more of my projects can be found on my <a href="https://github.com/StrixSC/"> Github</a>.
    These include scripts i've used for CTFs along the way as well as some WriteUps from different CTFs. 
    <br>Also some other random projects that I do when I have some free time!</p>
  </div>
</div>
 -->
